body
{
    background-color: blue;
}
#list{
    border: inset;
    background: black;    
    
}
select
{
    border: inset;
    background: black;    
    display: inline-block;
    color: white;
}
#list:active
{
  background: rgb(245,245,245);
}
a
{
	color:black;
}
#details{
    
		
	background-color: white;
	display: inline-block;
	display: none;
     /*background-color: rgba( 233, 233,233,.8);*/
     /*position: fixed;*/
     
  font-size: 12px;


}
#overlay
{
   display: none;
   background-color: rgba( 233, 233,233,.8);
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0px;
   left: 0px;
   text-align: center;
   font-size: 15px;

}

.small #list{
	margin-left: 0%;
    width: 100%;
}

.big #list{
    width: 25%;
    
}

.label
{
  color: white;

}
.small #details{
    width: 77%;
    margin-left: 10%;
    height: 100%;

}

.big #details{
    margin-left:25%;
    background-color: rgba(0,0,1,.3);
    width: 70%;
}

h1
{
    color: white;
    text-align: center;
    background-color: black;
    border:outset;   


}
.small h1{
    margin-left: 0%;
    width: 100%;
    font-size: 50px;
}
.small #appTitle{
    margin-left: 5%;
    width: 90%;
    font-size: 35px;
}
.big h1{
    margin-left: 15%;
    width: 70%;
    font-size: 60px;
}

.image
{
    margin-left: 5px;
    background-image: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100px; 
    /*float: left;
    display: inline;*/

}
p.title
{
    background-color: rgba(200,200,200,.2);
    color: gray;
    font-weight: bold;
    font-size: 200%;
    text-align: left;
    font-family: Impact, Charcoal, sans-serif;
}
a.href
{
    text-align: left;
    color: White;
}

p.summary
{
    font-size: 100%;
    text-align: left; 
    color: white;
    background-position: center;
    background-color: rgba(200,200,200,.2);
    text-indent: 10px;
}
p.price{
    font-size: 100%;
    text-align: right;
    color: white;
    background-size: 100px;
    background-position: right;
    background-color: rgba(200,200,200,.2);
    
}
i.price
{	
	font-weight: bold;
	font-size: 100%;
	margin-left: 5%;
    text-align: right;
    color: black;
   
    background-position: right;
    
}
.set
{
    max-width: 600px;
    margin-left: 0px;
    

}
.btn-default {
  
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
  margin-left: 1%;
}
.btn1 {

display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 8px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;

}
.btnTwo {
margin-left: 10%;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 10px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;

}
.shareFB
{
 color: #3B5999;
  background-color: #3B5999;
  border-color: #3B5999;
  margin-left: 1%;
}
.shareT
{
    color: #4099ff;
  background-color: #4099ff;
  border-color: #4099ff;
  margin-left: 1%;
}

